* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Jomhuria', serif;
  font-family: 'Public Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

